@using EntityLayer.Concrete
@using Uretim_Takip.Dtos
@using System.ComponentModel
@using Newtonsoft.Json
@model (List<Product> products, ProductFilterDto filter)
@foreach (var product in Model.products)
{
    <tr>
        <td>@product.ID</td>
        <td>@product.Category?.Name</td>
        <td>@product.Company?.Name</td>
        <td>@product.Name</td>
        <td>@product.Material</td>
        <td>@product.Price</td>
        <td>@product.Piece</td>
        <td>@(product.Status == (ProductStatuses)1 ? "SATIŞTA" : "KALDIRILDI")</td>
        <td>@product.Description</td>
        <td>
            <button class="btn btn-primary" onclick="openEditUrunModal(this)"
                    data-productid="@product.ID"
                    data-productname="@product.Name"
                    data-productmaterial="@product.Material"
                    data-productprice="@product.Price"
                    data-productpiece="@product.Piece"
                    data-productdescription="@product.Description"
                    data-productstatus="@product.Status"
                    data-productcategory="@product.Category.Name"
                    data-productcompany="@product.Company.Name">
                Düzenle
            </button>
            <button class="btn btn-success" onclick="openApproveUrunModal(this)"
                    data-productid="@product.ID"
                    data-productstatus="@product.Status">
                Onayla
            </button>
            <button class="btn btn-warning" onclick="openDeleteUrunModal(this)"
                    data-productid="@product.ID"
                    data-productstatus="@product.Status">
                Kaldır
            </button>
        </td>
    </tr>
}

<script>

    function openDeleteUrunModal(button) {
    var data = button.dataset;
    var companyOptions = @Html.Raw(JsonConvert.SerializeObject(Model.filter.Companies));
    var categoryOptions = @Html.Raw(JsonConvert.SerializeObject(Model.filter.Categories));
    $.dialog({
    title: 'Ürün Kaldır',
    content: `
    <!-- ${JSON.stringify(data)} -->
    <form method="post" action="@Url.Action("DeleteProduct", "ProductAdmin")">

        <div class="form-group">
            <label>Kaldırmak istiyor musunuz ?</label>
        </div>

        <div class="form-group">
            <input type="text" id="ID" name="ID" class="form-control" value="${data.productid}" required hidden />

        </div>

        <div class="form-group">
            <select id="Status" name="Status" class="form-control" data="${data.productstatus}" required hidden>
                <option value="1" ${data.productstatus =='Approved' ? 'selected' : '' }>SATIŞTA</option>
                <option value="2" ${data.productstatus =='Removed' ? 'selected' : '' }>KALDIRILDI</option>
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Kaldır" class="btn btn-warning w-100" />
        </div>

    </form>
    `
    });
    }


    function openApproveUrunModal(button) {
    var data = button.dataset;
    var companyOptions = @Html.Raw(JsonConvert.SerializeObject(Model.filter.Companies));
    var categoryOptions = @Html.Raw(JsonConvert.SerializeObject(Model.filter.Categories));
    $.dialog({
    title: 'Ürün Onayla',
    content: `
    <!-- ${JSON.stringify(data)} -->
    <form method="post" action="@Url.Action("ApproveProduct", "ProductAdmin")">

        <div class="form-group">
            <label>Onaylamak istiyor musunuz ?</label>
        </div>

        <div class="form-group">
            <input type="text" id="ID" name="ID" class="form-control" value="${data.productid}" required hidden />

        </div>

        <div class="form-group">
            <select id="Status" name="Status" class="form-control" data="${data.productstatus}" required hidden>
                <option value="1" ${data.productstatus == 'Approved' ? 'selected' : '' }>SATIŞTA</option>
                <option value="2" ${data.productstatus == 'Removed' ? 'selected' : '' }>KALDIRILDI</option>
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Onayla" class="btn btn-primary w-100" />
        </div>

    </form>
    `
    });
    }

    function openEditUrunModal(button) {
    var data = button.dataset;
    var companyOptions = @Html.Raw(JsonConvert.SerializeObject(Model.filter.Companies));
    var categoryOptions = @Html.Raw(JsonConvert.SerializeObject(Model.filter.Categories));
    $.dialog({
    title: 'Ürün Düzenle',
    content: `
    <!-- ${JSON.stringify(data)} -->
    <form method="post" action="@Url.Action("EditProduct", "ProductAdmin")">

        <div class="form-group">
            <input type="text" id="ID" name="ID" class="form-control" value="${data.productid}" required hidden />

        </div>

        <div class="form-group">
            <label for="Name">Ürün Adı</label>
            <input type="text" id="Name" name="Name" class="form-control" value="${data.productname}" required />
        </div>

        <div class="form-group">
            <label for="Material">Malzeme</label>
            <input type="text" id="Material" name="Material" class="form-control" value="${data.productmaterial}" required />
        </div>

        <div class="form-group">
            <label for="Price">Fiyat</label>
            <input type="number" id="Price" name="Price" class="form-control" step="0.01" value="${data.productprice.replace(",", "." )}" required />
        </div>

        <div class="form-group">
            <label for="Piece">Adet : </label>
            <input type="number" id="Piece" name="Piece" class="form-control" step="0.01" value="${data.productpiece.replace(",", "." )}" required />
        </div>

        <div class="form-group">
            <label for="Status">Durum :</label>
            <select id="Status" name="Status" class="form-control" data="${data.productstatus}" required>
                <option value="1" ${data.productstatus == 'Approved' ? 'selected' : '' }>SATIŞTA</option>
                <option value="2" ${data.productstatus == 'Removed' ? 'selected' : '' }>KALDIRILDI</option>
                <option value="3" ${data.productstatus == 'Pending' ? 'selected' : '' }>ONAY BEKLİYOR</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Description">Açıklama :</label>
            <textarea id="Description" name="Description" class="form-control" rows="3">${data.productdescription}</textarea>
        </div>

        <div class="form-group">
            <label for="CategoryName">Kategori :</label>
            <select id="CategoryName" name="CategoryName" class="form-control">
                ${categoryOptions.map(category => `
                <option value="${category}" } ${data.productcategory == category ? 'selected' : '' }>${category}</option>`).join('')}
            </select>
        </div>

        <div class="form-group">
            <label for="CompanyName">Firma :</label>
            <select id="CompanyName" name="CompanyName" class="form-control">
                ${companyOptions.map(company => `
                <option value="${company}" ${company == data.productcompany ? 'selected' : '' }>${company}</option>`).join('')}
            </select>
        </div>

        <div class="form-group">
            <input type="submit" value="Düzenle" class="btn btn-primary w-100" />
        </div>

    </form>
    `
    });
    }

</script>