@using EntityLayer.Concrete
@using Uretim_Takip.Dtos
@using System.ComponentModel
@using Newtonsoft.Json
@model (List<Company> companies, CompanyFilterDto filter)

@foreach (var company in Model.companies)
{
    <tr>
        <td>@company.ID</td>
        <td>@company.Name</td>
        <td>@company.Mail</td>
        <td>@company.PhoneNumber</td>
        @if (company.Status == (CompanyStatuses)1)
        {
            <td>AKTİF</td>
        }
        @if (company.Status == (CompanyStatuses)2)
        {
            <td>KALDIRILDI</td>
        }
        <td>@company.Description</td>
        <td>
            <button class="btn btn-primary" onclick="openEditFirmaModal(this)"
                    data-companyid="@company.ID"
                    data-companyname="@company.Name"
                    data-companymail="@company.Mail"
                    data-companydescription="@company.Description"
                    data-companyphonenumber="@company.PhoneNumber"
                    data-companypassword="@company.Password"
                    data-companystatus="@company.Status">
                Düzenle
            </button>
            <button class="btn btn-success" onclick="openApproveFirmaModal(this)"
                    data-companyid="@company.ID"
                    data-companystatus="@company.Status">
                Onayla
            </button>
            <button class="btn btn-warning" onclick="openDeleteFirmaModal(this)"
                    data-companyid="@company.ID"
                    data-companystatus="@company.Status">
                Kaldır
            </button>
        </td>
    </tr>
}

<script>
    function openApproveFirmaModal(button) {
    var data = button.dataset;
     $.dialog({
        title: 'Firma Onayla',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("ApproveCompany", "CompanyAdmin")">

                <div class="form-group">
                    <label>Onaylamak istiyor musunuz ?</label>
                </div>

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.companyid}" required hidden />
                </div>

                <div class="form-group">
                    <input type="text" id="Status" name="Status" class="form-control" value="${data.companystatus}" required hidden />
                </div>

                <div class="form-group">
                    <input type="submit" value="Onayla" class="btn btn-primary w-100" />
                </div>

            </form>
        `
    });
    }

    function openDeleteFirmaModal(button) {
    var data = button.dataset;
     $.dialog({
        title: 'Firma Sil',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("DeleteCompany", "CompanyAdmin")">

                <div class="form-group">
                    <label>Kaldırmak istiyor musunuz ?</label>
                </div>

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.companyid}" required hidden />

                </div>

                <div class="form-group">
                    <input type="text" id="Status" name="Status" class="form-control" value="${data.companystatus}" required hidden />
                </div>

                <div class="form-group">
                    <input type="submit" value="Kaldır" class="btn btn-warning w-100" />
                </div>

            </form>
        `
    });
    }

    function openEditFirmaModal(button) {
    var data = button.dataset;
     $.dialog({
        title: 'Firma Düzenle',
         content: `
            <!-- ${JSON.stringify(data)} -->
            <form method="post" action="@Url.Action("EditCompany", "CompanyAdmin")">

                <div class="form-group">
                    <input type="text" id="ID" name="ID" class="form-control" value="${data.companyid}" required hidden />

                </div>

                <div class="form-group">
                    <label for="Name">Firma Adı:</label>
                    <input type="text" id="Name" name="Name" class="form-control" value="${data.companyname}" required />
                </div>

                <div class="form-group">
                    <label for="Material">Mail:</label>
                    <input type="text" id="Mail" name="Mail" class="form-control" value="${data.companymail}" required />
                </div>


                <div class="form-group">
                    <label for="Description">Açıklama :</label>
                    <textarea id="Description" name="Description" class="form-control" rows="3">${data.companydescription}</textarea>
                </div>


                <div class="form-group">
                    <label for="Material">Telefon No:</label>
                    <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control" value="${data.companyphonenumber}" required />
                </div>

                <div class="form-group">
                    <label for="Material">Şifre:</label>
                    <input type="text" id="Password" name="Password" class="form-control" value="${data.companypassword}" required />
                </div>

                <div class="form-group">
                    <label for="Status">Durum :</label>
                    <select id="Status" name="Status" class="form-control" data="${data.companystatus}" required>
                        <option value="1" ${data.companystatus == 'Approved' ? 'selected' : ''}>AKTİF</option>
                        <option value="2" ${data.companystatus == 'Removed' ? 'selected' : ''}>KALDIRILDI</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Düzenle" class="btn btn-primary w-100" />
                </div>

            </form>
        `
    });
}
</script>